<strong>Olá, {{ deliveryman }}</strong>
<p>Houve um cancelamento de pedido. Você pode ver os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong>{{ recipient }}<br />
  <strong>Produto: </strong>{{ product }}<br />
  {{ canceledBy }} <br />
</p>
