<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem um novo pedido para entrega. Confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong>{{ recipient }}<br />
  <strong>Produto: </strong>{{ product }}<br />
  <strong>Endereço: </strong>{{ address }}<br />
</p>
<p>O produto já está disponível para retirada!</p>
